*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#050505;
  color:white;
  font-family:sans-serif;
}

/* HERO IMAGE */
.hero{
  width:100%;
  overflow:hidden;
}

.hero img{
  width:100%;
  height:auto;
  max-height:420px;
  object-fit:cover;
  display:block;
}


/* FEATURES */
.features{
  width:100%;
  padding:40px 15px;
  text-align:center;
  background:linear-gradient(135deg,#050505,#1b1200);
}

.features h2{
  color:#ffd700;
  font-size:32px;
  margin-bottom:35px;
  text-shadow:0 0 20px #ffd700;
}


/* CARD AREA */
.feature-container{
  width:100%;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:15px;
}


.feature-card{
  height:130px;
  text-decoration:none;
  color:white;
  background:rgba(255,255,255,0.08);
  border:2px solid #ffd700;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  box-shadow:0 0 15px rgba(255,215,0,.5);
  transition:.5s;
}


.feature-card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 40px #ffd700;
}


/* ICON */
.feature-icon{
  width:55px;
  height:55px;
  border-radius:50%;
  margin-bottom:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(145deg,#ffd700,#8a6500);
  color:#000;
  font-size:28px;
}


/* MOBILE */
@media(max-width:600px){

.hero img{
  max-height:350px;
}

.feature-container{
  grid-template-columns:repeat(2,1fr);
}

.feature-card{
  height:120px;
}

.features h2{
  font-size:26px;
}

}
